<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>sign up</title>

    <!-- 아이콘 -->

    <script src="./product-add.js" type="module"></script>
  </head>

  <body>
    <!-- 헤더 -->
    <div id="header"></div>

    <!-- 회원가입 폼(Form) -->
    <section id="addProductSection">

        <form class="addProduct" id="addProductForm">
<!-- 제품 사진 -->
            <div>
                <p class="textLeft">제품 사진</p>
                <div>
                    <input
                    class="input"
                    id="productImage"
                    type="text"
                    placeholder="제품 사진 링크를 입력하세요"
                    />
                </div>
            </div>
            
<!-- 제품 ID -->
          <div>
            <p class="textLeft">productId</p>
            <div>
              <input
                class="input"
                id="productId"
                type="text"
                placeholder="제품 id 값을 입력하세요"
              />
            </div>
          </div>

<!-- 제품 명 -->
          <div>
            <p class="textLeft">productName</p>
            <div>
              <input
                class="input"
                id="productName"
                type="text"
                placeholder="제품 명을 입력하세요"
              />
            </div>
          </div>

<!-- 상품 제목 -->
          <div>
            <p class="textLeft">productTitle</p>
            <div>
              <input
                class="input"
                id="productTitle"
                type="text"
                placeholder="상품 제목을 입력하세요"
              />
            </div>
          </div>

<!-- 상품 설명 -->
          <div>
            <p class="textLeft">description</p>
            <div>
              <input
                class="input"
                id="description"
                type="text"
                placeholder="상품 설명을 입력하세요"
              />
            </div>
          </div>


          <div>
            <p class="textLeft">price</p>
            <div>
              <input
                class="input"
                id="price"
                type="text"
                placeholder="제품 가격을 입력하세요"
              />
            </div>
          </div>

<!-- 탄생석 -->
          <div>
            <p class="textLeft">stoneType</p>
            <div>
              <input
                class="input"
                id="stoneType"
                type="text"
                placeholder="탄생석을 입력하세요"
              />
            </div>
          </div>

<!-- 카테고리 -->
          <div>
            <p class="textLeft">category</p>
            <div>
              <input
                class="input"
                id="category"
                type="text"
                placeholder="카테고리를 입력하세요"
              />
            </div>
          </div>

          <!-- 회원가입 버튼 -->
          <button class="submitBtn" id="submitButton">제품 등록하기</button>
        </form>
      </div>
      <!-- 푸터 -->
      <div id="footer"></div>
    </section>
  </body>
</html>
