@charset "utf-8";
@import '../styles/reset.css';

/* info page */
.accountWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}
.accountWrapper ul li {
  margin-bottom: 10px;
}
