<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>소개</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/facon.ico"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="./about-us.css" />
    <script src="about-us.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header id="header"></header>
    <!-- 바디 -->
    <main role="main" id="mainWrap" class="">
      <div class="contents">
        <div class="contentsIn">
          <img src="../images/About_us_img.jpg" alt="about-us" />
          <div class="txt">
            <p>오작뀨</p>
            <p>단 하나의 추억을 선물해 드립니다.</p>
          </div>
        </div>
      </div>
    </main>
    <!-- 푸터 -->
    <footer id="footer"></footer>
  </body>
</html>
