<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>로그인</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/facon.ico"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600&amp;display=swap"
      rel="stylesheet"
    />

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="about-us.css" />
    <script src="about-us.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div id="header"></div>
    <!-- 바디 -->
    <main role="main" id="mainWrap" class="">
      <section class="title ftSerif">
        <h2>About 7</h2>
        <p class="design">ooo</p>
        <p class="line"></p>
      </section>
      <div class="slideWrap">
        <section class="businessCardWrap">
          <div id="slider">
            <div class="image-box">
              <div><img src="../images/film layout.png" alt="film" /></div>
              <div><img src="../images/film layout.png" alt="film" /></div>
              <div><img src="../images/film layout.png" alt="film" /></div>
              <div><img src="../images/film layout.png" alt="film" /></div>
              <div><img src="../images/film layout.png" alt="film" /></div>
              <div><img src="../images/film layout.png" alt="film" /></div>
              <div><img src="../images/film layout.png" alt="film" /></div>
              <div><img src="../images/film layout.png" alt="film" /></div>
              <!--   clone     -->
              <div class="clone">
                <img src="../images/film layout.png" alt="film" />
              </div>
              <div class="clone">
                <img src="../images/film layout.png" alt="film" />
              </div>
              <div class="clone">
                <img src="../images/film layout.png" alt="film" />
              </div>
              <div class="clone">
                <img src="../images/film layout.png" alt="film" />
              </div>
              <div class="clone">
                <img src="../images/film layout.png" alt="film" />
              </div>
              <div class="clone">
                <img src="../images/film layout.png" alt="film" />
              </div>
              <div class="clone">
                <img src="../images/film layout.png" alt="film" />
              </div>
              <div class="clone">
                <img src="../images/film layout.png" alt="film" />
              </div>
            </div>
          </div>
          <div class="businessCardWrapInner">
            <div class="card">
              <h3 class="ftSerif name">유의석</h3>
              <p class="tech">Back-end</p>
              <div class="description">
                <p>Lorem ipsum dolor sit amet</p>
                <p></p>
                <p></p>
              </div>
            </div>

            <div class="card">
              <h3 class="ftSerif name">김진영</h3>
              <p class="tech">Front-end</p>
              <div class="description">
                <p>Lorem ipsum dolor sit amet</p>
                <p></p>
                <p></p>
                <p></p>
              </div>
            </div>

            <div class="card">
              <h3 class="ftSerif name">이다노</h3>
              <p class="tech">Front-end</p>
              <div class="description">
                <p>Lorem ipsum dolor sit amet</p>
                <p></p>
                <p></p>
                <p></p>
              </div>
            </div>

            <div class="card">
              <h3 class="ftSerif name">이유정</h3>
              <p class="tech">Front-end</p>
              <div class="description">
                <p>재밌는 작업이 많은 프로젝트였습니다.</p>
                <p>모두 수고하셨습니다!!</p>
              </div>
            </div>

            <div class="card">
              <h3 class="ftSerif name">정지헌</h3>
              <p class="tech">Back-end</p>
              <div class="description">
                <p>Lorem ipsum dolor sit amet</p>
                <p></p>
                <p></p>
                <p></p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section>
        <div class="ending ftSerif">감사합니다.</div>
      </section>
    </main>
    <!-- 푸터 -->
    <div id="footer"></div>
  </body>
</html>
