@charset "utf-8";
@import '../styles/reset.css';

.ftSerif {
  font-family: 'Noto Serif KR', serif;
}

body {
  text-align: center;
  background-color: rgb(148, 148, 151);
}

.title {
  font-weight: bold;
  color: rgb(148, 127, 167);
}

h2 {
  padding-top: 60px;
  margin-bottom: 20px;

  font-size: 4em;
}

.design {
  margin-bottom: 20px;
}

.line {
  margin: 0 auto;

  height: 1px;
  width: 200px;
  background-color: rgb(148, 127, 167);
}

.slideWrap {
  position: relative;
  height: 500px;
}

.businessCardWrap {
  z-index: 301;
  overflow: hidden;
  position: absolute;
  left: 50%;

  margin-left: -600px;
  margin-bottom: 10px;
  width: 1200px;
  height: 100%;
}

#slider {
  opacity: 0.2;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
  width: 3000px;
  height: 200px;
}

.image-box {
  width: 5280px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  animation: bannermove 24s linear infinite;
  -webkit-animation: bannermove 50s linear infinite;
}
@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.image-box img {
  height: 100%;
}

.businessCardWrapInner {
  margin-left: -300px;
  left: 50%;
  width: 600px;

  position: absolute;
  animation-duration: 16s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-name: slideup;
}

@keyframes slideup {
  0% {
    top: 120%;
  }

  100% {
    top: -200%;
  }
}

.card:not(:last-child) {
  margin-bottom: 60px;
}

.name {
  font-size: 2em;
  line-height: 1.4em;
  color: rgb(185, 178, 178);
}

.tech {
  margin-bottom: 20px;
}

.who::before {
  content: '[';
}

.who {
  font-size: 1.4em;
  line-height: 2em;
}

.who::after {
  content: ']';
}

.description {
  opacity: 0.4;

  margin: 0 auto;

  color: white;
}

.ending {
  font-size: 1.4em;
  color: rgb(185, 178, 178);
}
