<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제품 상세 페이지</title>

    <link rel="stylesheet" href="./product-detail.css" />

    <script src="product-detail.js" type="module"></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div id="header"></div>

    <section class="container">
      <article class="detailWrap">
        <div class="productImg"></div>

        <div class="productDetail"></div>
      </article>
    </section>

    <!-- 푸터 -->
    <div id="footer"></div>
  </body>
</html>
