<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>로그인</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>  

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="account-order.css" />
    <script src="account-order.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div data-include-path="../components/header.html"></div>
    <!-- 바디 -->
    <main role="main" id="mainWrap" class="container is-max-desktop">
      <section id="orderContainer">
        <div class="orderWrap">
          <h2><strong>주문조회</strong></h2>
          <ul class="orderSubtitles">
            <li class="subtitle1">날짜</li>
            <li class="subtitle2">주문정보</li>
            <li class="subtitle3">상태</li>
            <li class="subtitle4">신청</li>
          </ul>
          <form class="formWrap" id="registerUserForm">
            <ul class="orderList">
              <li class="subList1">2022-11-02</li>
              <li class="subList2">여성 청바지 / 1개</li>
              <li class="subList3">상품 준비중</li>
              <li class="subList4">
                <button class="submitBtn" id="submitButton">주문취소</button>
              </li>
            </ul>
          </form>
        </div>
    </main>
    <!-- 푸터 -->
    <div data-include-path="../components/footer.html"></div>
  </body>
</html>
