<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>sign up</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/facon.ico"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel="stylesheet" href="./register.css" />
    <script src="./register.js" type="module"></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header id="header"></header>

    <!-- 회원가입 폼(Form) -->
    <section id="signupContainer">
      <div class="signupWrap">
        <h2><strong>SIGN UP</strong></h2>

        <form class="formWrap" id="registerUserForm">
          <!-- 이메일 -->
          <div>
            <p class="textLeft"><label for="emailInput">이메일</label></p>
            <div>
              <input
                class="input"
                id="emailInput"
                type="email"
                placeholder="email@example.com"
                autocomplete="on"
              />
            </div>
          </div>

          <!-- 이름 -->
          <div>
            <p class="textLeft"><label for="fullNameInput">이름</label></p>
            <div>
              <input
                class="input"
                id="fullNameInput"
                type="text"
                placeholder="이름"
                autocomplete="on"
              />
            </div>
          </div>

          <!-- 비밀번호 -->
          <div>
            <p class="textLeft"><label for="passwordInput">비밀번호</label></p>
            <div>
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="비밀번호"
                autocomplete="off"
              />
            </div>
          </div>

          <!-- 비밀번호 확인 -->
          <div>
            <p class="textLeft">
              <label for="passwordConfirmInput">비밀번호 확인</label>
            </p>
            <div>
              <input
                class="input"
                id="passwordConfirmInput"
                type="password"
                placeholder="비밀번호 확인"
                autocomplete="off"
              />
            </div>
          </div>

          <!-- 주소 -->
          <div class="addressSection">
            <p class="textLeft">
              <label for="addressInput">주소</label>
            </p>
            <div class="postalCodeWrapper">
              <input class="input" id="postalCodeInput" type="text" readonly />
              <button id="searchAddressButton">주소 찾기</button>
            </div>
          </div>
          <div class="addressSection">
            <div>
              <input class="input" id="addressInput" type="text" readonly />
            </div>
          </div>
          <div class="addressSection">
            <div>
              <input class="input" id="addressDetailInput" type="text" />
            </div>
          </div>

          <!-- 휴대폰 번호 -->
          <div class="addressSection">
            <p class="textLeft">
              <label for="phonNumberInput">휴대폰 번호</label>
            </p>
            <div>
              <input
                class="input"
                id="phonNumberInput"
                type="tel"
                maxlength="13"
                autocomplete="off"
                value="010"
              />
            </div>
          </div>

          <!-- 회원가입 버튼 -->
          <button class="submitBtn" id="submitButton">회원 가입하기</button>
        </form>
      </div>
    </section>
  </body>
</html>
