@charset "utf-8";
@import '../styles/reset.css';

/* 시작 */

#signupContainer {
  max-width: 100%;
}

.signupWrap {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5em;
}

.signupWrap h2 {
  font-family: 'Stick No Bills', sans-serif;
  padding: 20px 0;
  font-size: 2.4em;
  font-weight: 600;
}

.formWrap {
  width: 400px;
  margin: 0 auto;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
}

.input:focus {
  border-color: purple;
  outline: none;
}

.textLeft {
  text-align: left;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
}

.submitBtn {
  border: none;
  width: 410px;
  padding: 20px 0;
  background-color: #20002c;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 40px;
}

.addressSection {
  margin: 1em 0;
}

.addressSection div {
  display: flex;
}
