@charset "utf-8";
@import "../styles/reset.css";

/* 시작 */

#signupContainer {
  max-width: 100%;
}

.signupWrap {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}

.signupWrap h2{
  font-family: "Stick No Bills", sans-serif;
  padding: 20px 0;
  font-size: 2.4em;
  font-weight: 600;
}

.formWrap{
  width: 600px;
  margin: 0 auto;
}

/* .flexContent{
} */

.flexContent .textLeft{
  text-align: left;

}