<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 상세 페이지</title>

    <link rel="stylesheet" href="../styles/reset.css">

    <script src="product.js" type="module"></script>
</head>
<body>
    <div data-include-path="../components/header.html"></div>
    <section class="container">
        <div class="productImg">
            
        </div>

        <div class="productDetail">

        </div>
        
    </section>
 

    <div data-include-path="../components/footer.html"></div>

    
</body>
</html>