<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/facon.ico"
    />
    <link rel="stylesheet" href="./admin.css">
    <script src="./admin.js" type="module"></script>
</head>
<body>

    <header id="header"></header>
    <section>
        <div class="whatInner">

          <div class="titleWrap">
            <strong>웹 서비스 관리</strong>
            <span class="line1"></span>
            <span class="line2"></span>
          </div>

          <div class="innerImg">
            <ul>
              <li class="imgBox">
                <div class="innerContent">
                  <a href="/admin-product"><p class="fir">제품 관리</p></a>
                </div>
              </li>

              <li class="imgBox">
                <div class="innerContent">
                  <a href="/admin-order"><p class="fir">주문 관리</p></a>
                </div>
              </li>

              <li class="imgBox">
                <div class="innerContent">
                  <a href="/admin-category"><p class="fir">카테고리 관리</p></a>
                </div>
              </li>

            </ul>
          </div>
        </div>
    </section>
    
</body>
</html>