<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주문/결제</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/facon.ico"
    />

    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./order.css" />
    <script src="order.js" type="module" defer></script>
    <script src="order-modal.js" type="module" defer></script>
  </head>

  <!-- 뒤로가기 방지 -->
  <script type="text/javascript">
    window.history.forward();
    function noBack() {
      window.history.forward();
    }
  </script>

  <body
    class="cartOrder"
    onload="noBack();"
    onpageshow="if(event.persisted) noBack();"
    onunload=""
  >
    <!-- 헤더 -->
    <div id="header"></div>

    <main role="main" id="mainWrap" class="container is-max-desktop">
      <div class="mainInner px-6 box mt-6">
        <section class="title-sub mt-2">
          <h2 class="title mb-5 has-text-grey-dark has-text-centered">
            주문/결제
          </h2>
        </section>

        <section id="listItems">
          <!-- innerHTML -->
          <ul>
            <li>상품정보</li>
            <!-- <li>배송비</li> -->
            <li>수량</li>
            <li>금액</li>
          </ul>

          <ul>
            <li>
              <p>반지</p>
              <p>1</p>
              <p>10,000</p>
            </li>
            <li>
              <p>팔찌</p>
              <p>1</p>
              <p>20,000</p>
            </li>
          </ul>
        </section>

        <form class="userInfo">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">이름</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" />
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">연락처</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" />
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">주소</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" />
                </p>
              </div>
            </div>
          </div>
        </form>

        <section class="total mt-6">
          <div class="is-flex is-flex-direction-column">
            <div class="block is-align-self-flex-end">
              <h3 class="title is-4 has-text-grey-dark">
                총액:&nbsp;<span id="priceTotal" class="has-text-danger"
                  >30,000</span
                >&nbsp;원
              </h3>
              <p class="subtitle is-7"></p>
            </div>

            <button
              class="js-modal-trigger subtitle button is-danger is-outlined py-5 mt-4"
              data-target="modal-js-example"
            >
              결제하기
            </button>

            <div
              class="modal"
              id="modal-js-example"
              onclick="location.href='http://localhost:3000/order-view'"
            >
              <div class="modal-background"></div>
              <div class="modal-content box" style="text-align: center">
                결제가 완료되었습니다. 주문조회 화면으로 이동합니다.
              </div>
              <!-- <button class="modal-close is-large" aria-label="close"></button> -->
            </div>
          </div>

          <a href="/">
            <button
              id="btnMoveToItemList"
              class="button is-danger is-outlined mt-4 mb-4 px-5"
            >
              더 구매하기
            </button>
          </a>
        </section>
      </div>
    </main>

    <!-- 푸터 -->
    <div id="footer"></div>
  </body>
</html>
