<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>주문/결제</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/facon.ico" />

    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./order.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="order.js" type="module" defer></script>
  </head>

  <body class="cartOrder">
    <!-- 헤더 -->
    <header id="header"></header>

    <!-- 바디 -->
    <main role="main">
      <div class="orderWrap p-6">
        <section class="title-sub mt-2">
          <h2 class="title mb-5 has-text-grey-dark has-text-centered">
            주문/결제
          </h2>
        </section>

        <section id="listItems" class="has-text-centered">
          <!-- innerHTML -->
          <ul>
            <li>상품정보</li>
            <!-- <li>배송비</li> -->
            <li>수량</li>
            <li>금액</li>
          </ul>
        </section>

        <form class="userInfo">
          <!-- 이름 -->
          <div class="field mb-5">
            <label class="label" for="nameInput">이름</label>
            <div class="control">
              <input
                type="text"
                class="input is-normal"
                id="nameInput"
                autocomplete="off"
              />
            </div>
          </div>
          <!-- 주소 -->
          <div class="field">
            <label class="label" for="postalCodeInput">주소</label>
            <div class="control is-flex">
              <input
                type="text"
                class="input is-normal"
                id="postalCodeInput"
                readonly
              />
              <button id="searchAddressButton" class="button is-danger ml-4">
                주소 검색
              </button>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input
                type="text"
                class="input is-normal"
                id="addressInput"
                readonly
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input
                type="text"
                class="input is-normal"
                id="addressDetailInput"
              />
            </div>
          </div>
          <!-- 전화번호 -->
          <div class="field">
            <label class="label" for="phoneNumberInput">전화번호</label>
            <div class="control">
              <input
                type="tel"
                class="input is-normal"
                id="phoneNumberInput"
                maxlength="13"
                autocomplete="off"
              />
            </div>
          </div>
        </form>

        <section class="total mt-6">
          <div class="is-flex is-flex-direction-column">
            <div class="is-align-self-flex-end">
              <h3 class="title is-4 has-text-grey-dark mt-5">
                <span>총액:</span>
                <span id="priceTotalSpan" class="has-text-danger">30,000</span>
                <span>원</span>
              </h3>
            </div>
            <button
              class="subtitle button is-danger is-outlined py-5 mt-4 mb-2 is-fullwidth is-large"
              id="purchaseButton"
            >
              결제하기
            </button>
          </div>
        </section>
      </div>
    </main>

    <!-- 푸터 -->
    <footer id="footer"></footer>
  </body>
</html>
