<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>birthstone</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/facon.ico"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600&amp;display=swap"
      rel="stylesheet"
    />

    <!-- Resources -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="./birthstone.css" />
    <script src="./birthstone.js" type="module" defer></script>
  </head>
  <body class="error">
    <!-- 헤더 -->
    <div data-include-path="../components/header.html"></div>

    <!-- 바디 -->
    <main role="main" id="mainWrap" class="container">
      <div class="slider">
        <div class="slider__slide slider__slide--active" data-slide="1">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>1월. 가넷/진실</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="2">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>2월. 자수정/평화</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="3">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>3월. 아쿠아마린/젊음</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="4">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>4월. 다이아몬드/불변</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="5">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>5월. 에메랄드/행복</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="6">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>6월. 진주/청순</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="7">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>7월. 루비/용기</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="8">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>8월. 페리도트/지혜</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="9">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>9월. 사파이어/진리</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="10">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>10월. 오팔/희망</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="11">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>11월. 토파즈/건강</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__slide" data-slide="12">
          <div class="slider__wrap">
            <div class="slider__back"></div>
          </div>
          <div class="slider__inner">
            <div class="slider__content">
              <h1>12월. 터키석/성공</h1>
              <a class="go-to-next">next</a>
            </div>
          </div>
        </div>

        <div class="slider__indicators"></div>
      </div>
    </main>

    <!-- 푸터 -->
    <div data-include-path="../components/footer.html"></div>
  </body>
  <script>
    //slides
    $(document).ready(function () {
      for (var i = 1; i <= $('.slider__slide').length; i++) {
        $('.slider__indicators').append(
          '<div class="slider__indicator" data-slide="' + i + '"></div>',
        );
      }
      setTimeout(function () {
        $('.slider__wrap').addClass('slider__wrap--hacked');
      }, 1000);
    });

    function goToSlide(number) {
      $('.slider__slide').removeClass('slider__slide--active');
      $('.slider__slide[data-slide=' + number + ']').addClass(
        'slider__slide--active',
      );
    }

    $('.slider__next, .go-to-next').on('click', function () {
      var currentSlide = Number($('.slider__slide--active').data('slide'));
      var totalSlides = $('.slider__slide').length;
      currentSlide++;
      if (currentSlide > totalSlides) {
        currentSlide = 1;
      }
      goToSlide(currentSlide);
    });
  </script>
</html>
