<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>birthstone</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/facon.ico"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600&amp;display=swap"
      rel="stylesheet"
    />

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="./birthstone.css" />
    <script src="./birthstone.js" type="module" defer></script>
  </head>
  <body class="error">
    <!-- 헤더 -->
    <header id="header"></header>

    <!-- 바디 -->
    <main role="main" id="mainWrap" class="container">
      <section class="top">
        <ul>
          <li>
            <h2>1월. 가넷/진실</h2>
          </li>
          <li>
            <h2>2월. 자수정/평화</h2>
          </li>
          <li>
            <h2>3월. 아쿠아마린/젊음</h2>
          </li>
          <li>
            <h2>4월. 다이아몬드/불변</h2>
          </li>
        </ul>
      </section>
      <section class="middle">
        <ul>
          <li>
            <h2>5월. 에메랄드/행복</h2>
          </li>
          <li>
            <h2>6월. 진주/청순</h2>
          </li>
          <li>
            <h2>7월. 루비/용기</h2>
          </li>
          <li>
            <h2>8월. 페리도트/지혜</h2>
          </li>
        </ul>
      </section>
      <section class="bottom">
        <ul>
          <li>
            <h2>9월. 사파이어/진리</h2>
          </li>
          <li>
            <h2>10월. 오팔/희망</h2>
          </li>
          <li>
            <h2>11월. 토파즈/건강</h2>
          </li>
          <li>
            <h2>12월. 터키석/성공</h2>
          </li>
        </ul>
      </section>
    </main>

    <!-- 푸터 -->
    <footer id="footer"></footer>
  </body>
</html>
