@import url("https://fonts.googleapis.com/css2?family=Single+Day&family=Ubuntu:wght@300;400;500;700&display=swap");

/* reset */
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: black;
}
ol,
ul,
li {
  list-style: none;
}

/* 레이아웃 */
#headerWrap {
  max-width: 100%;
}

/* 헤더 */
.headerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #9D50BB;
  color: white;
}

.headerTop img {
  width: 44px;
  height: 44px;
}

.headerTop h1 {
  font-size: 2em;
}

.util ul {
  display: flex;
  gap: 20px;
}

.util ul li a{
  color: #fff;
  font-weight: 600;
}

/* GNB */
.gnb {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 6px solid #9D50BB;
}

.gnb ul {
  display: flex;
  justify-content: space-evenly;
}

/* 비주얼 배너 */
#headerWrap article{
  max-width: 100%;
}

#headerWrap article img{
  max-width: 100%;
}

/* 메인 */
#mainWrap {
  max-width: 100%;
}

/* 컨텐츠 1 */
.contentsOne {
  padding-top: 4%;
}

.contentsOne ul {
  display: flex;
  justify-content: space-evenly;
}

/* 컨텐츠 2 */
.contentsSec {
  padding: 4% 0;
}

.contentsSec article {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.besideIframe {
  background: url("../images/milkway.png") no-repeat content-box;
  width: 600px;
}

.besideIframe div{
  width: 500px;
  padding: 20px 0;
  line-height: 1;
}

.besideIframe p {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.2em;
  color: purple;
  font-weight: 400;
  border: 1px solid purple;
  padding: 10px;
}

.besideIframe p .subText{
  color: gray;
  font-size: 28px;
}

.besideIframe .hashTag{
  color: gray;
  font-size: 16px;
}
