@charset "utf-8";
@import '/styles/reset.css';

/* 비주얼 배너 */
/* 슬라이드 */

.slideWrap input[id*='slide'] {
  display: none;
}

.bannerContainer {
  max-width: 100%;
  margin: auto;
}

.bannerWrap .slideWrap {
  overflow: hidden;
}

.bannerWrap .slideList {
  white-space: nowrap;
  font-size: 0;
}

.bannerWrap .slideList > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
}

.bannerWrap .slideList > li > a {
  display: block;
  position: relative;
}

.bannerWrap .slideList > li > a img {
  width: 100%;
  height: 570px;
}

.bannerWrap .slideList label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}

.bannerWrap .slideList .left {
  left: 30px;
  background: url('../images/arrow_right.png') center center / 100% no-repeat;
  transform: rotate(180deg);
}

.bannerWrap .slideList .right {
  right: 35px;
  background: url('../images/arrow_right.png') center center / 100% no-repeat;
}

.bannerWrap .slideWrap [id='slide01']:checked ~ .slideList > li {
  transform: translateX(0%);
}
.bannerWrap .slideWrap [id='slide02']:checked ~ .slideList > li {
  transform: translateX(-100%);
}
.bannerWrap .slideWrap [id='slide03']:checked ~ .slideList > li {
  transform: translateX(-200%);
}

/* 메인 */
#mainWrap {
  max-width: 100%;
}

/* 컨텐츠 1 */
.contentsOne {
  padding-top: 4%;
}

.contentsOne ul {
  display: flex;
  justify-content: space-evenly;
}

/* 컨텐츠 2 */
.contentsSec {
  padding: 4% 0;
}

.contentsSec article {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sideIframe {
  width: 600px;
  height: 400px;

  overflow: hidden;
}

.sideIframe img {
  width: 100%;
  height: 100%;
}

.besideIframe {
  background: url('../../images/milkway.png') no-repeat content-box;
  width: 600px;
}

.besideIframe div {
  width: 500px;
  padding: 100px;
  line-height: 1;
}

.besideIframe p {
  font-family: 'Marhey', cursive;
  font-size: 2.2em;
  background: linear-gradient(to right, #20002c, #cbb4d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.besideIframe p .subText {
  padding: 4% 0;
  display: block;
  color: rgb(82, 82, 82);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

.besideIframe p .subText strong {
  display: block;
  text-indent: 40px;
  color: rgb(82, 82, 82);
}

/* 신상품 리스트 */
.newArrival {
  padding-bottom: 4%;
  text-align: center;
}

.arrivalTitle {
  line-height: 1.4;
}

.newArrival .arrivalTitle > strong {
  font-size: 2em;
  font-weight: 600;
}

.arrivalTitle p {
  color: #888;
}

.productWrap {
  padding-top: 4%;
  max-width: 1440px;
  margin: 0 auto;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.product li {
  padding-bottom: 40px;
}

.product li img {
  width: 300px;
  height: 300px;
}

/* 제품 li 리스트 */

.productList h2 {
  overflow: hidden;
}

.productList dl {
  text-align: left;
  padding-top: 10px;
  line-height: 1.4;
}

.productList dl dt {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #d3d3d3;
  font-weight: 600;
}

.productList dl dd {
  font-size: 14px;
  color: #222;
}

.productList dl dd:first-of-type {
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  font-size: 13px;
  color: #888;
}

.productEvent {
  cursor: pointer;
}

.productEvent:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
