<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>로그인</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/facon.ico"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="login.css" />
    <script src="login.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <!-- <header id="headerWrap">
      <nav>
        <div class="headerTop">
          <img src="../images/sample_logo.png" alt="logo" />
          <h1>오작뀨</h1>

          <div class="util">
            <ul>
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li><a href="/cart">장바구니</a></li>
              <li><a href="/mypage">내 정보</a></li>
            </ul>
          </div>
        </div>

        <div class="gnb">
          <ul>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">팔찌</a></li>
            <li><a href="#">반지</a></li>
            <li><a href="#">목걸이</a></li>
            <li><a href="#">내 탄생석은?</a></li>
          </ul>
        </div>
      </nav>
    </header> -->

    <!-- 로그인 폼(Form) -->
    <section id="loginContainer">
      <div class="loginWrap">
        <h2><strong>LOGIN</strong></h2>

        <article class="selectBtn">
          <button type="button">회원 로그인</button>
          <button type="button">비회원 로그인</button>
        </article>

        <form class="formWrap" id="loginForm">
          <div>
            <label class="hidden" for="emailInput">이메일</label>
            <div class="inputCenter">
              <input
                class="input"
                id="emailInput"
                type="email"
                placeholder="아이디"
              />
            </div>
          </div>

          <div>
            <label class="hidden" for="passwordInput">비밀번호</label>
            <div class="inputCenter">
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="비밀번호"
              />
            </div>
          </div>

          <button class="submitBtn" id="submitButton">로그인</button>
        </form>
      </div>
    </section>
  </body>
</html>
