<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>장바구니</title>

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/facon.ico"
    />

    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

  
    <link rel="stylesheet" href="cart.css" />
    <script src="cart.js" type="module" defer></script>
  </head>

  <body>
    <!-- 헤더 -->
    <div id="header"></div>

    <main role="main">

      <section class="container">

        <div class="cartWrap">
          <h2 class="cartTitle">
            장바구니
          </h2>

          <div class="countDelete">
            
          </div>

          <section class="listItems"></section>
          
        </div>
  
        
        <div class="totalPriceOrder">
          
        </div>
        
      </section>

      
    </main>

    <!-- 푸터 -->
    <div id="footer"></div>
  </body>
</html>
