@charset "utf-8";
@import "/styles/reset.css";

/* 전체 레이아웃 */
.container{
  max-width: 1280px;
  margin: 0 auto;
}

/* 타이틀 영역 */

.countDelete{
  display: flex;
  justify-content: space-between;
}

.cartTitle{
  color: #4a4a4a;
  padding: 4% 0;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.productCount{
  color: #4a4a4a;
  padding-bottom: 4%;
}

.deleteBtn{
  background-color: #eff5fb;
  color: #296fa8;
  padding: calc(1em - 2px) 2em;
  border: none;
  cursor: pointer;
}

.deleteBtn:hover{
  background-color: #e4eff9;
  border-color: transparent;
  color: #296fa8;
}


/* 제품 리스트 영역 */

.cartForm{
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartInfo{
  display: flex;
  align-items: center;
}

.innerImg{
  display: flex;
  

}

.innerImg img{
  width: 128px;
  height: 128px;
}