<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>장바구니</title>

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/facon.ico"
    />

    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

  
    <link rel="stylesheet" href="cart.css" />
    <script src="cart.js" type="module" defer></script>
  </head>

  <body>
    <!-- 헤더 -->
    <div id="header"></div>

    <main role="main">

      <section class="container">

        <div class="cartWrap">
          <h2 class="cartTitle">
            장바구니
          </h2>

          <div class="countDelete"></div>

          <section class="listItems"></section>
          
        </div>
  
        
        <div class="total mt-6">
          <div class="is-flex is-justify-content-space-between">
            <div class="block">
              <h3 class="title is-4 has-text-grey-dark">
                총액:&nbsp;<span id="priceTotal" class="has-text-danger"
                  >19,000</span
                >&nbsp;원
              </h3>
              <p class="subtitle is-7"></p>
            </div>
            <a href="/order">
              <button
                id="btnPurchase"
                class="button is-danger is-outlined px-6 py-5"
              >
                주문하기
              </button>
            </a>
          </div>
          <a href="/">
            <button
              id="btnMoveToItemList"
              class="button is-danger is-outlined mb-4 px-5"
            >
              더 구매하기
            </button>
          </a>
        </div>
        
      </section>

      
    </main>

    <!-- 푸터 -->
    <div id="footer"></div>
  </body>
</html>
