<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>오작뀨</title>

    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="cart.css" />
    <script src="home.js" type="module" defer></script>
  </head>

  <body class="cart">
    <!-- 헤더 -->
    <header id="headerWrap">
      <nav>
        <div class="headerTop">
          <img src="../elice-rabbit.png" alt="logo" />
          <h1>오작뀨</h1>

          <div class="util">
            <ul>
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li><a href="/cart">장바구니</a></li>
              <li><a href="/mypage">내 정보</a></li>
            </ul>
          </div>
        </div>

        <div class="gnb">
          <ul>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">팔찌</a></li>
            <li><a href="#">반지</a></li>
            <li><a href="#">목걸이</a></li>
            <li><a href="#">내 탄생석은?</a></li>
          </ul>
        </div>
      </nav>

      <!-- <article>
        <img src="../images/visualBanner1.png" alt="visulaImage" />
      </article> -->
    </header>

    <main role="main" id="mainWrap">
      <!-- <section class="contentsOne">
        <ul>
          <li>
            <img src="../images/eventContents1.png" alt="Fast shipping" />
          </li>
          <li><img src="../images/eventContents2.png" alt="Review event" /></li>
          <li><img src="../images/eventContents3.png" alt="Custom carve" /></li>
        </ul>
      </section>

      <section class="contentsSec">
        <article>
          <iframe
            title="#"
            width="600"
            height="360"
            src="https://www.youtube.com/embed/CWTwiE15pdY"
          >
            <a href="../images/iframe.jpg" target="img">
              <img src="../images/iframe.jpg" alt="iframe" />
            </a>
          </iframe>

          <div class="besideIframe">
            <p>GIFT FOR MEMORY</p>
          </div>
        </article>
      </section> -->


    </main>
  </body>
</html>
