<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>not-found</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/facon.ico"
    />

    <scriptㄹ
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></scriptㄹ>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600&amp;display=swap"
      rel="stylesheet"
    />

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="/error/error.css" />
    <script src="/error/error.js" type="module" defer></script>
  </head>
  <body class="error">
    <!-- 헤더 -->
    <!-- <div data-include-path="../components/header.html"></div> -->

    <!-- 바디 -->
    <main role="main" id="mainWrap" class="container">
      <section class="description">
        <div class="descriptionInner">
          <div class="descripright">
            <h2 class="txtError">404</h2>
          </div>
          <div class="descripLeft">
            <h2>원하시는 페이지를 찾을 수 없습니다.</h2>
            <p>찾으려는 페이지의 주소가 잘못 입력되었거나,</p>
            <p>주소의 변경 혹은 삭제로 인해 사용하실 수 없습니다.</p>
            <p>입력하신 페이지의 주소가 정확한지 다시 한 번 확인해 주세요.</p>
          </div>
        </div>

        <a href="/" class="linkHomeWrap">
          <button type="button" class="linkHome">오작뀨 홈 가기</button>
        </a>
      </section>
    </main>

    <!-- 푸터 -->
    <!-- <div data-include-path="../components/footer.html"></div> -->
  </body>
</html>
