/* 헤더 레이아웃 */
#headerWrap {
  max-width: 100%;
}

/* 헤더 */
.headerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: #fff;
}

.headerTop img {
  width: 180px;
  height: 100%;
}

.headerTop h1 {
  font-size: 2em;
  color: #000;
  font-family: 'OKDDUNG';
}

.util ul {
  display: flex;
  gap: 20px;
}

.util ul .logout {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.util ul li a {
  color: #000;
  font-weight: 600;
}

.util ul li a:hover {
  color: coral;
}

/* GNB */
.gnb {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 2px solid #20002c;
}

.gnb ul {
  display: flex;
  justify-content: space-evenly;
}

.gnb ul li {
  cursor: pointer;
  font-weight: 600;
}

.gnb ul li:hover {
  color: coral;
}

.gnb ul li a:hover {
  color: coral;
}

/* 어드민 */
#adminAdd a {
  color: black;
}
