@charset "utf-8";
@import '../styles/reset.css';

.ftSerif {
  font-family: 'Noto Serif KR', serif;
}

body {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1608508644127-ba99d7732fee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
  background-size: cover;
}

.title {
  padding-top: 110px;
  margin: 0 auto 10px auto;
  max-width: 1105px;

  font-weight: bold;
  text-shadow: 1px 1px 1px gray;

  position: relative;
}

h2 {
  /* opacity: 0.8; */
  padding-top: 28px;
  margin-bottom: 10px;

  font-size: 4em;
  color: #e9b7b8;
  text-shadow: 1px 1px 1px white;

  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -232px;
}

.design {
  margin-bottom: 8px;
  color: white;
}

.line {
  margin: 0 auto;

  height: 1px;
  width: 100px;
  background-color: #e9b7b8;
}

.description {
  margin: 0 auto;
  width: 800px;
  height: 600px;
}

.subtitle {
  margin-bottom: 40px;

  color: white;
  text-shadow: 1px 1px 1px gray;
}

.contents {
  margin-bottom: 100px;
  max-width: 800px;
  height: 550px;

  color: rgb(109, 99, 85);
  font-size: 1.2em;
  line-height: 2em;

  position: relative;
  overflow: hidden;
}

.contentsIn {
  max-width: 800px;
  height: 400px;

  position: absolute;
  left: 50%;
  margin-left: -270px;

  animation-name: moveUp;
  animation-timing-function: linear;
  animation-duration: 4s;
}

.topContents {
  margin-bottom: 60px;
}
